.App {
  padding: 2rem;
}
.scrollable-div {
  background-color: #f1f1f1;
  /* overflow-y: scroll; */
  white-space: nowrap;
  margin: 20px;
  text-align: justify;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }

.card {
  width: 200px;
}
